*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.header{
    width: 100%;
    height: 604px;
    background: #fcdb00;
    display: flex;
    align-items: center;
}

.header__conteiner{
    width: 100%;
    height: 526px;
    margin-left: 90.500px;
    margin-right: 90.500px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__conteiner__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__conteiner__navigation__menu{
    color: #333;
    font-size: 30px;
    display: inline-block;
}

.header__conteiner__navigation__logo{
    text-align: center;
    display: inline-block;
}

.logo{
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50px;
    display: inline-block;
}

.logo__link{
    color: #1B242F;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.header__conteiner__navigation__social{
    margin-top: 17px;
}

.social{
    color: #333;
    padding-left: 10px;
    font-size: 25px;
}

.header__conteiner__main{
    margin-top: 160px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__conteiner__main__title{
    font-weight: 700;
    font-size: 48px;
    color: #010101;
    margin-bottom: 10px;
}

.header__conteiner__main__paragraph{
    padding: 20px 140px;
}

.header__conteiner__main__span{
    border: 1px solid black;
    padding: 5px 30px;
    color: #010101;
    margin-bottom: 100px;
}



.footer{
    width: 100%;
    height: 633px;
    background: #010101;
    padding: 96px 90.5px;
}

.footer__form{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.footer__form__title{
    color: #fcdb00;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.footer__form__text{
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.57);
    padding: 0 7em 2em 7em;
    margin-bottom: 40px;
}


.footer__form__input{
    width: 75%;
    padding: 10px;
    background: #fff;
    font-weight: 700;
    outline: none;
    border-radius: 6px;
}

.footer__form__submit{
    background: #fcdb00;
    border: 0px;
    color: #000;
    border-radius: 6px;
    margin: 0px 10px;
    padding: 10px 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}



.footer__column{
    margin-top: 112px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;


}

.footer-row-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    color: #fff;
}

.footer-add{
    list-style: none;
}

.footer-add__links{
    text-decoration: none;
    color: #fff;
}

.footer-add__links:hover{
    color: #fcdb00;
}